@charset "utf-8";
* 						{margin: 0; padding: 0;}
body					{font: 16px Arial, sans-serif;}
						/* background-image: url("irudiak/puzzle-fondoa.jpg");
						 background-color: #FFF8DC;
						 background-repeat: repeat-x;
  						 background-position: 0 0;}*/

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap >.main 		{border: 4px solid #FFF8DC; padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div		{padding: 20px;float: left; width: 30%;}
header				{background: #FFF8DC; text-align: center;font: 100% sans-serif;}
nav, section		{background: #cbeded; text-align: left;font: 22px Arial, sans-serif; }
footer				{background: #FFF8DC; text-align: center;font: 100% sans-serif;}
nav span            { margin: 0px 10px 0px 0px;
						width: 50%;
						display: inline-block;}

#ErrorMsgs         	{ color: #f61; font-size: smaler}

.right{
	font: 18px Arial, sans-serif;
	font-weight: 600;
	float: left;
}
.legend{
	font: 28px Arial, sans-serif;
	float: left;
}
.label{
	width: 12%;
	font: 20px ;
	float: left;
}

.form-input{
	float: left;
	width: 20%;
}

.form-select{
	float: left;
	width: 20%;
}
.submit-button{
	float: left;
	width: 8%;

}