body				{background: #cbeded;}

#page-wrap:after 	{content: "Wide Layout";}

nav					{float: left; width: 14%; height: 850px;}
nav span			{margin: 0px 110px 0px 0px; font: 100% sans-serif;}
section				{float: left; width: 80%; height: 850px; font: 100% sans-serif;}
footer				{clear: both; display: block;font: 100% sans-serif;}